.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.margin-sm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-lg {
  margin-top: 50px;
}

.font-size-large {
  font-size: 18px;
}

.margin-r-t {
  margin-top: 10px;
  margin-right: 15px;
}